- Only use Bootstrap 5.3 utility classes when styling the frontend components. Only use custom CSS when Bootstrap classes are not enough.
- Use Nuxt 3 best practices.
- If needed and/or will shorten code, use VueUse library.
- The Nuxt project folders are all in src/
- Do not import components or builtin Nuxt methods/functions because Nuxt autoimports everything already.